<ion-content *ngIf="success == false">
  <ion-title>{{ type + " " + companyService.currentCompany.name }}</ion-title>
  <ion-text>{{ "Current " + type + "ing price: $" + companyService.currentCompany.currentPrice}}</ion-text>
  <br><br>
  <ion-label id="error">{{ error }}</ion-label>
  <ion-label position="floating"> {{ "Select number of stocks to " + type }}</ion-label>
  <ion-input [(ngModel)]="numStocksBought" placeholder="" type="number" (ionChange)="updateTotals()"></ion-input>
  <br>
  <ion-text>{{ "Subtotal: $" + subtotal.toFixed(2)}}</ion-text><br>
  <ion-text>{{ "Purchase Fee: $" + purchaseFee.toFixed(2)}}</ion-text><br>
  <ion-text>{{ "Total: $" + total.toFixed(2)}}</ion-text>
  <br><br>
  <ion-text>{{ "Your budget after this transaction: $" + (this.userDataService.user.budget-total)}}</ion-text><br>
  <ion-button color="dark" (click)="confirmTransaction()">Confirm Transaction</ion-button>
</ion-content>

<ion-content *ngIf="success == true">
<ion-title>Successful Transaction</ion-title>
<ion-text>{{ "You now have $" + userDataService.user.budget}}</ion-text>
</ion-content>

