<ion-grid>
  <ion-row>
    <ion-col id="header">
      <ion-title>Portfolio</ion-title>
    </ion-col>
  </ion-row>

  <ion-row>
    <!-- Total Earnings/losses graph-->
    <ion-col size="6">

    </ion-col>
    <!-- Total transaction history and totals-->
    <ion-col size="6">
      <ion-title>{{ "Total Budget: " + this.userDataService.user.budget}}</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- Individual Earnings/losses graphs-->
    <ion-col>

    </ion-col>
  </ion-row>
</ion-grid>
