<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Icon/Logo -->
      <ion-col>
        <img src="../../assets/logos/mainLogo.png">
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Create Account Button -->
      <ion-col>
        <ion-button color="light">Create Account</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Login Button -->
      <ion-col>
        <ion-button color="light">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
