<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col id="sidebar" size="2">
        <ion-title>{{ "Welcome " + user.username }} </ion-title>
        <ion-button class="menuButton">Dashboard</ion-button>
        <ion-button class="menuButton">Portfolio</ion-button>
        <ion-button class="menuButton">Buy/Sell</ion-button>
        <ion-button class="menuButton">News</ion-button>
        <ion-button class="menuButton">Profile/Settings</ion-button>
        <ion-button class="menuButton" (click)="authService.LogOut()">Sign Out</ion-button>
      </ion-col>
      <ion-col id="content" size="10">
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
