// sidebar

ion-grid {
    margin: 0px;
    padding: 0px; 
}

ion-row {
    margin: 0px;
    padding: 0px; 
}

ion-col {
    margin: 0px;
    padding: 0px; 
    height: 100vh; 
}

#sidebar {
    background: var(--ion-color-dark);
    font-family: 'theme';
    color: var(--ion-color-light); 
}

img {
    width: 60%;
    height: auto;
}

.menuButton {
    width: 100%;
    --border-radius: 0px;
    height: 100px;
    margin: 0px;
    --background: var(--ion-color-dark);
    border: 2px var(--ion-color-dark-shade) solid; 
    font-family: 'theme';
    color: var(--ion-color-light); 
}

// main content

#content {
    background: var(--ion-color-theme);
}